[submodule "epidemic-model"]
	path = epidemic-model
	url = https://github.com/Apiros3/epidemic-model
	branch = main
[submodule "generic-blog"]
	path = blog
	url = https://github.com/Apiros3/blog
	branch = main 
[submodule "cp-blog"]
	path = cp-blog 
	url = https://github.com/Apiros3/cp-blog 
	branch = main 