table.recent_events td {
    border-bottom: 1px dotted;
}

.event_date {
    font-size: smaller;
    color: gray;
}
.event_context {
    font-size: smaller;
    margin: 12px 0;
}

.grant_date {
    font-size: smaller;
}
.grant_context {
    font-size: smaller;
    margin: 1px 7px;
}
