
body {
    font-family: Garamond, 游明朝, "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", serif;
    font-size: 3vmin;
    line-height: 1.6;

    background-color: #CCCCCC;
    background-image: url("img/IMG_0853.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100% auto;
    margin: 0;
}

h3 {
    font-size: 8vmin;
}

p {
    margin: 0px;
    padding: 10px 20px;
}

h4 {
    margin: 0px;
    font-size: 6vmin;
}