body {
    margin: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: italic;
}

div.question {
    display: block;
}
div.answer {
    display: none;
}

div.box {
    background-color: darkgrey;
}